@media print {
   body {
      color: #000;
      background: #fff;
      padding: 0px;
      border: none;
   }

    @media (max-width: 210mm) {
       body {
           width: 170mm;
       }
   }
}
